/* Auth component */

.myCustContainer {
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    padding: 0;
    margin-top: 50px;
    margin-bottom: 150px;
}
.pdZero{
    padding: 0 !important;
}
.class1{
    background-color: #F47D31;
}
.leftSide {
    background-color: #FDFCFC;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 30px 0 0 30px;
}
.rightSide{
    padding: 40px 70px 150px;
    background-color: white;
}
.paddFixeNext{
    padding: 40px 70px 50px;
}

.leftSide .star {
    position: absolute;
    bottom: 40px;
    opacity: 1;
    right: 20px;
}
.leftSide h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    padding: 30px 0px 0px 20px;
}
.leftSide p {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    padding: 0px 20px;
}
.points p{
    font-size: 14;
    font-weight: 500;
    line-height: 30px;
    padding: 0px 20px;
}
.points p span {
    margin-right: 10px;
}
.nav {
    display: inline-block;
    width: 100%;
}

.nav li{
    display: inline-block;
    width: 49%;
    margin: 0 auto;
    text-align: center;
}

.navLink {
    display:inline-block;
    text-transform: uppercase;
    color: black;
    font-size: 13px;
    font-weight: 600;
    line-height: 30px;   
    border-top: none;
    border-left: none;
    border-right: none;
    text-decoration: none;
    width: 100%;
}
.navLink:hover {
    border-top: none;
    border-left: none;
    border-right: none;
    cursor: pointer;
    text-decoration: none;
}
.active {
    color: #074FFE;
    border-bottom: 2px solid blue !important;
}


/* Login Component */
.wrapForm{
    padding: 40px 0 0;
}
.wrapForm input[type=email], .wrapForm input[type=password], .wrapFormSup input[type=password], .wrapFormSup input[type=email], .wrapFormSup input[type=text] {
    width: 100%;
    height: 50px;
    background-color: #FFFFFF !important;
    border-radius: 15px !important;
    margin: 0 0 30px;
}
.pasEye{
    position: relative;
}
.pasField{
    position: absolute;
    right: 0;
    z-index: 5;
}
#eye {
    background: none;
    border: none;
}
.forgotPassword {
    float: right;
    margin: 20px 20px;
    color: #074FFE;
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
}
.btnPrimary{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    width: 100%;
    background-color: #F47D31;
    height: 50px;
    border: none;
    border-radius: 8px;
}

/* Sign up component */
.wrapFormSup{
    width: 100%;
}
.stepTab{
    display: flex;
    align-items: center;
    justify-content: space-around;
    vertical-align: middle;
    margin: 30px 0 30px 0;
    position: relative;
}
.stepTab::before{
    position: absolute;
    content: '';
    bottom: 48px;
    height: 1px;
    width: 170px;
    background: #DEDEDE;
    z-index: 1;
}
.stepTab span{
    font-weight: 400;
    font-size: 11px;
    line-height: 12px;
    text-transform: capitalize;
    color: #717171;
}
.stepTab .stepCount{
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    border: 1px solid #DEDEDE;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 15px 20px;
    margin-right: 0px;
    border-radius: 30px;
    margin: 0 0 0 7px;
    position: relative;
    z-index: 2;
    background: white;
}
.stepTab .stepCount p{
    margin-bottom: 0px;
    font-weight: 500;
    font-size: 14px;
    color: #717171;
}

.stepTabActive .stepCount p{
    color: #074FFE;
}
.stepTabActive span{
    color: #074FFE;
}
.stepTabActive .stepCount{
    border: 1px solid #074FFE;
}
.select {
    height: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 28px;
    margin: 20px 0px;
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    padding: 0 .5em;
    cursor:pointer;
}
.select option{
    font-size: 18px;
}
.inputs:nth-child(2) {
	margin-bottom: 20px;
}

.inputs:nth-child(4) {
	margin-bottom: 20px;
}
.inputGroupText {
    background-color: transparent;
    border: none;
  }
  
  .input-group-text > button {
    background-color: transparent;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
  }

.active {
    color: #074FFE;
    text-decoration: underline;
}


.lblTypes {
    font-size: 14px;
    font-weight: 400;
    font-synthesis: 24px;
}

.btn {
    font-size: 14;
    font-weight: 400;
    line-height: 24px;
    margin-right: 20px;
    border-radius: 10px !important;
    width: 100%;
}

.btnSelected {
    font-size: 14;
    font-weight: 400;
    line-height: 24px;
    margin-right: 20px;
    border-radius: 10px !important;
    width: 100%;
    color: #F7A069;
    border: 1px solid #F7A069;
    background-color: #FDEDE2;
}

