.sectionFeature, .sectionPricing, .sectionCategories, .location, .sectionExcitingFeatures, .sectionDiscoverAmazing, .sectionPartner, .sectionBlog, .sectionProfessional {
width: 100%;
padding:40px 0 40px;
}
.wrapBanner{
    width: 100%;
    padding: 40% 0 0;
}
.wrapBanner h1{
    font-style: normal;
    font-weight: 100;
    font-size: 56px;
    line-height: 67px;
    text-transform: capitalize;
    color: #3C444F;
}
.wrapBanner h1 span{
    font-weight: 700;
    color: #3C444F;
}
.wrapBanner h6{
    margin: 20px 0;
    color: #3C444F;
}
.signUpButton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 32px;
    gap: 12px;
    width: auto;
    height: 48px;
    background: #074FFE;
    border-radius: 8px;
    margin: 50px 0 0;
    border: none;
}
.bannerButtonDownload{
    display: flex;
    align-items: center;
	justify-content: flex-start;
	vertical-align: middle;
}
.btnFtr {
	padding: 8px 0px;
	text-align: center;
	border: 1px solid #FFFFFF;
	border-radius: 6px;
	background: transparent;
	color: #FFFFFF;
	width: 170px;
	margin: 0 0 20px;
}

.btnFtr .downloadBtn {
	display: flex;
	align-items: center;
	justify-content: center;
	vertical-align: middle;
}

.downloadBtn .ftrIcon {
	margin: 0 15px 0 0;
}

.downloadBtn span {
	text-align: left;
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	line-height: 20px;
	text-transform: none;
	color: #FFFFFF;
}

.downloadBtn span strong {
	display: block;
	font-size: 14px;
}
.googlePlayBtn{
    background: #074FFE;
    margin-right: 30px;
}
.appleStoreBtn{
    background: #3C444F;
}
.wrapBannaerImage{}

/*  */

.sectionFeature{
padding: 200px 0 80px;
}
.wrapFeature{
    background: #FFFFFF;
    box-shadow: 0px 14px 14px rgba(0, 0, 0, 0.04);
    border-radius: 16px;
    padding: 20px;
}
.wrapFeature img{
    margin: 0 0 15px;
}
.wrapFeature h5{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    color: #3C444F;
}
.wrapFeature p{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #3C444F;
    margin: 10px 0 0;
}
/*  */
.sectionPricing{
    background: linear-gradient(213.72deg, #FFF1F1 24.88%, #E9F8FB 80.54%);
    padding: 80px 0;
}
.wrapPricingSelect {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.wrapPricingSelect .select{
    width: 165px;
}
.headFix .wrapSectionHeading{
    text-align: right;
}
.wrapSectionHeading h2{
    font-style: normal;
    font-weight: 100;
    font-size: 40px;
    line-height: 140%;
    text-transform: capitalize;
    color: #3C444F;
    font-weight: 400;
    margin: 0 0 40px;
}
.wrapSectionHeading span{
    font-weight: 700;
}
.wrapSectionHeading p
{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 180%;
    color: rgba(18, 17, 39, 0.72);
    padding: 0 140px 0 0;
}
.wrapPricingCol{
    background: #FFFFFF;
    box-shadow: 0px 14px 14px rgba(0, 0, 0, 0.04);
    border-radius: 16px;
    padding: 20px;
}
.wrapNameRow{
    display: flex;
    justify-content: space-between;
}
.wrapNameNumber h3{
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    color: #3C444F;
    margin-bottom: 0;
    display: flex;
}
.wrapNameNumber h3 span{
    background: #01A652;
    border-radius: 4px;
    padding: 0px 9px;
    font-weight: 700;
    font-size: 12px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    width: 100%;
    margin: 0 0 0 10px;
}

.wrapNameNumber h5{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #717171;
}
.wrapPackagePrice{
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}
.wrapPackagePrice h2{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #3C444F;
}
.wrapPackageList ul {
    list-style: none;
    padding-left: 0;
}
.wrapPackageList ul li{
    display: flex;
}
.wrapPackageList ul li p{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #6C6C6C;
}
.wrapPackageList ul li span{
    margin: 0 10px 0 0;
}
.wrapPricingCol button{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    width: 100%;
    background-color: #F47D31;
    height: 50px;
    border: none;
    border-radius: 8px;
}
.wrapPricingCol a{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #3C444F;
    display: block;
    margin:20px 0 10px;
}

/*  */
.sectionCategories{}
.wrapCategoriesList{
    width: 100%;
}
.wrapCategoriesList ul{
    list-style: none;
    font-size: 0;
    display: inline-block;
    width: 100%;
}
.wrapCategoriesList ul li{
    display: inline-block;
    width: 9%;
    margin: 0 74px 0 0;
    text-align: center;
    vertical-align: top;
}
.wrapCategoriesList ul li:nth-child(7), .wrapCategoriesList ul li:nth-child(14){
    margin-right: 0 !important;
}
.wrapCategoriesList ul li .wrapCatImg{
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    background: #FFFFFF;
    box-shadow: 0px 14px 14px rgba(0, 0, 0, 0.04);
    border-radius: 16px;

}
.wrapCategoriesList ul li h4{
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.25px;
    color: #3C444F;
    max-width: 100px;
    margin-top: 10px;
}


/*  */
.location{
    background-image: url(../public/images/global-map.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
    padding: 200px 0 200px;
}
.locationDashboard{
    background-image: url(../public/images/global-map.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
    padding: 200px 0 300px;
}

.wrapFlagBox{
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 14px 14px rgba(0, 0, 0, 0.04);
    border-radius: 16px;
    position: relative;
    margin: 0 45px 0 0;
}
.wrapContent{
    width: 200px;
    height: 200px;
    text-align: center;
    margin: auto;
    padding: 40px 0 0;
}
.wrapContent h4{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 140%;
    color: #3C444F;
    margin-top: 20px;
    display: block;
}
.wrapOverlayDefault{
    background: #000000;
    opacity: 0.7;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    border-radius: 14px;
}
.wrapOverlayDefault span{
    font-weight: 500;
    font-size: 21px;
    line-height: 140%;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.wrapLocButton{
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

/*  */

.sectionExcitingFeatures{}
.wrapFeatures{
    text-align: center;
    width: 100%;
}
.wrapFeatures img{
    min-height: 210px;
}
.wrapFeatures h5{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: #3C444F;
}
.wrapFeatures p{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: rgba(18, 17, 39, 0.56);
}


/*  */
.sectionDiscoverAmazing{}
.sectionDiscoverAmazing .wrapSectionHeading, .sectionPartner .wrapSectionHeading{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    vertical-align: middle;
    flex-direction: column;
    height: 100%
}
.sectionDiscoverAmazing .wrapSectionHeading h2, .sectionPartner .wrapSectionHeading h2{
    margin-bottom: 10px;
}
.sectionPartner .wrapSectionHeading .signUpButton{
    margin-top: 10px;
}
.wrapAmazingImage{
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}
/*  */
.sectionBlog{
    background-image: url(../public/images/wave_blog.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 200%;
    padding: 84px 0 130px; 
}

.sectionBlog .wrapSectionHeading h2{
    margin-bottom: 10px;
}
.sectionBlog .wrapSectionHeading p{
    color: rgba(18, 17, 39, 0.56);
    padding: 0;
    margin-bottom: 50px;
}
.wrapBlogBox, .wrapBlogBox img{
    width: 100%;
}
.wrapBlogBox{
    background: #FFFFFF;
    box-shadow: 0px 20px 50px rgba(18, 17, 39, 0.08);
    border-radius: 16px !important;
}
.wrapTextBlog{
    padding: 32px 24px 12px;
}

.wrapTextBlog h4{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    color: #3C444F;
}
.wrapTextBlog p{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    color: rgba(18, 17, 39, 0.56);
    margin-top: 10px;
    min-height: 170px;
}
.wrapAuthDetail{
    display: flex
}
.wrapAuthDetail img{
    height: 48px;
    width: 48px;
}
.wrapAuthDetail ul{
    list-style: none;
    padding-left: 10px;
}
.wrapAuthDetail ul li h6{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 180%;
    color: #121127;
    margin: 0;
}
.wrapAuthDetail ul li p{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 180%;
    color: rgba(18, 17, 39, 0.56);
    min-height: auto;
    margin: 0;
}

/*  */

.wrapProfessionalInner {
    background: linear-gradient(213.72deg, #FFF1F1 24.88%, #E9F8FB 80.54%);
    border-radius: 50px;
    padding: 40px 0;
}
.wrapProfessionalInner .wrapSectionHeading{
    width: 100%;
    text-align: center;
}
.wrapCount{
    background: #FFFFFF;
    box-shadow: 0px 14px 14px rgba(0, 0, 0, 0.04);
    border-radius: 26px;
}
.counterPad{
    padding: 0 125px 50px;
}
.wrapCount{
    padding: 20px;
}
.wrapCount h3{
    font-style: normal;
    font-weight: 700;
    font-size: 41px;
    line-height: 140%;
    position: relative;
}
.wrapCount h3::before{
    position: absolute;
    content: '';
    width: 48px;
    height: 4px;
    bottom: -10px;
    left: 0;
}
.wrapCount p{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 180%;
    color: #3C444F;
    width: 75%;
    margin: 30px 0 10px;
}
.wrapCount.purple h3::before{
    background: #8100B4;
}
.wrapCount.blue h3::before{
    background: #074FFE;
}
.wrapCount.orange h3::before{
    background: #F47D31;
}

.buttonList {
	font-size: 0px;
	display: inline-block;
	vertical-align: middle;
	list-style: none;
}

.buttonList li {
	display: inline-block;
	vertical-align: middle;
	margin-right: 24px;
}

.buttonList li button {
	border-radius: 6px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 8px 24px;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 24px;
}

.buttonList li:nth-child(1) button {
	border: 1px solid rgba(18, 17, 39, 0.12);
	background: transparent;
	color: #121127;
	;
}

.buttonList li:nth-child(2) button {
	border: 1px solid #F47D31;
	background: #F47D31;
	color: #fff;
}
/* responsive */
@media (max-width:1440px){
    .sectionBlog{
        background-position: 0 -170px;
    }
}
@media (max-width:1200px){
.lineBreak{
        display: none;
    }
    .wrapBanner h1{
        font-size: 30px;
        line-height: 35px;
    }
    .signUpButton{
        margin-top: 20px;
    }
    .wrapBannaerImage{
        width: 100%;
    }
    .wrapBannaerImage img{
        width: 100%;
    }
    .wrapFeature{
        width: 300px;
        margin: 0 auto 30px;
    }
    .wrapSectionHeading h2{
        font-size: 25px;
        margin-bottom: 20px;
        text-align: center;
    }
    .wrapPricingSelec input, .select{
        width: auto;
        margin: 0 auto;
    }
    .wrapPricingSelect{
       display: block;
       text-align: center;
       width: 100%;
       margin: 0 auto 30px;
    }
    .wrapPricingCol{
        margin-bottom: 20px;
    }
    .wrapCategoriesList ul li, .wrapCategoriesList ul li:nth-child(7){
        width: 45%;
        margin-right: 20px !important;
    }
    .wrapCategoriesList ul li:nth-child(even){
        margin-right: 0 !important;
    }
    .wrapFlagBox{
        width: 170px;
        margin: 15px auto 15px;
    }
    .wrapContent{
        width: fit-content;
        height: auto;
        padding: 10px 0;
    }
    .wrapFeatures{
        margin: 30px 0 0 0;
    }
    .wrapFeatures p{
        padding: 0 20px;
    }
    .sectionDiscoverAmazing .wrapSectionHeading p, .sectionPartner .wrapSectionHeading p{
        text-align: center;
        padding: 0 15px;
    }
    .sectionPartner .wrapSectionHeading h2,  .sectionPartner .wrapSectionHeading button{
        width: 100%;
        text-align: center;
    }
    .wrapAmazingImage, .wrapAmazingImage img{
        width: 100%;
    }
    .sectionBlog{
        padding: 50px 0;
    }
    .wrapBlogBox{
        margin-bottom: 30px;
    }
    .wrapTextBlog p{    
        min-height: auto    ;
    }
    .counterPad{
        padding: 0 20px;
    }
    .wrapCount{
        margin-bottom: 30px;
    }

    .locationDashboard, .location { 
        padding: 30px 0 50px; 
        background-image: none; 
    }
.sectionFeaturePadAdjustment {
    padding: 0;
}

}